@model Try


@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>
    Learn about
    <a href="https://docs.microsoft.com/aspnet/core"
      >building Web apps with ASP.NET Core</a
    >.
  </p>
</div>

<form asp-controller="" asp-action="" method="post">
  <div asp-validation-summary="All" class="text-danger"></div>
  <label for="DOB">Please give me your date of birth:</label>
  <input name="DOB" id="DOB" type="date" />
  <button type="submit"></button>
</form>
